.ml-9 {
  margin-left: 0.56rem;
}
.mt-7 {
  margin-top: 0.44rem;
}
.mt-5 {
  margin-top: 0.31rem;
}
.ml-23 {
  margin-left: 1.44rem;
}
.mt-3 {
  margin-top: 0.19rem;
}
.mt-106 {
  margin-top: 6.63rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.mt-11 {
  margin-top: 0.69rem;
}
.mt-15 {
  margin-top: 0.94rem;
}
.ml-17 {
  margin-left: 1.06rem;
}
.page {
  padding: 2.69rem 0 109.44rem 2.19rem;
  background-color: #060606;
  height: 330.44rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.image_2 {
  border-radius: 1.5rem;
  width: 3.75rem;
  height: 2.63rem;
}
.pos_3 {
  position: absolute;
  right: 2.75rem;
  top: 2.69rem;
}
.font_3 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 1.56rem;
  color: #ffffff;
}
.text_4 {
  line-height: 1.81rem;
  word-break: break-all;
  width: 20.88rem;
}
.pos_7 {
  position: absolute;
  left: 2.21rem;
  top: 20.86rem;
}
.text-wrapper {
  padding: 0.88rem 0;
  background-color: #ffffff;
  border-radius: 3.31rem;
  width: 10.31rem;
}
.pos_8 {
  position: absolute;
  left: 2.19rem;
  top: 25.63rem;
}
.font_4 {
  font-size: 1rem;
  font-family: Poppins;
  line-height: 0.75rem;
  color: #000000;
}
.image_4 {
  border-radius: 1.5rem;
  width: 3.63rem;
  height: 2.63rem;
}
.pos_9 {
  position: absolute;
  right: 9.88rem;
  top: 25.56rem;
}
.font_8 {
  font-size: 0.88rem;
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
}
.text_19 {
  line-height: 0.93rem;
}
.pos_16 {
  position: absolute;
  left: 2.22rem;
  top: 58.25rem;
}
.font {
  font-size: 1.25rem;
  font-family: PP Neue Machina;
  line-height: 0.94rem;
  color: #ffffff;
}
.text_20 {
  line-height: 1.81rem;
  text-transform: uppercase;
  width: 20.06rem;
}
.pos_17 {
  position: absolute;
  left: 2.19rem;
  top: 59.81rem;
}
.image_10 {
  opacity: 0.6;
  width: 7.94rem;
  height: 1.63rem;
}
.pos_19 {
  position: absolute;
  left: 2.19rem;
  top: 65.01rem;
}
.image_11 {
  opacity: 0.6;
  width: 7.5rem;
  height: 1.06rem;
}
.pos_20 {
  position: absolute;
  right: 7.49rem;
  top: 65.26rem;
}
.image_9 {
  opacity: 0.6;
  width: 8.31rem;
  height: 2.25rem;
}
.pos_18 {
  position: absolute;
  right: -2.56rem;
  top: 64.66rem;
}
.image_23 {
  width: 0.75rem;
  height: 0.69rem;
}
.pos_39 {
  position: absolute;
  left: 2.19rem;
  bottom: 128.58rem;
}
.text_50 {
  line-height: 0.91rem;
  width: 20.13rem;
}
.pos_40 {
  position: absolute;
  left: 50%;
  bottom: 128.45rem;
  transform: translateX(-50%);
}
.text_51 {
  color: #ffffff;
  font-size: 2.25rem;
  font-family: PP Neue Machina;
  line-height: 3.25rem;
  text-transform: uppercase;
  width: 20.13rem;
}
.pos_41 {
  position: absolute;
  left: 2.2rem;
  top: 202.69rem;
}
.text_52 {
  opacity: 0.6;
  width: 21.44rem;
}
.pos_42 {
  position: absolute;
  left: 2.23rem;
  top: 214.54rem;
}
.pos_43 {
  position: absolute;
  left: 2.19rem;
  top: 218.56rem;
}
.group {
  padding-bottom: 51.31rem;
  overflow-x: hidden;
}
.pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.image {
  filter: blur(12.5rem);
  width: 11rem;
  height: 20.5rem;
}
.image_5 {
  margin-top: 12.06rem;
  width: 100vw;
  height: 86.0465vw;
}
.font_9 {
  font-size: 1.75rem;
  font-family: PP Neue Machina;
  line-height: 2.5rem;
  color: #ffffff;
}
.text {
  text-transform: uppercase;
}
.text_21 {
  margin-left: 2.25rem;
  margin-top: 15.5rem;
  line-height: 1.28rem;
}
.image-wrapper_2 {
  margin-left: 7.5rem;
  margin-top: 1.5rem;
  padding: 0.81rem 0;
  background-color: #ffffff33;
  border-radius: 2.31rem;
  width: 4.56rem;
}
.image_3 {
  width: 1.25rem;
  height: 1.25rem;
}
.image_20 {
  margin-top: 90.69rem;
  width: 100vw;
  height: 114.6512vw;
}
.image_24 {
  margin-left: -16rem;
  margin-top: 25rem;
  filter: blur(3.91rem);
  width: 189.3023vw;
  height: 191.6279vw;
}
.text_2 {
  line-height: 0.92rem;
}
.pos_5 {
  position: absolute;
  left: 4.01rem;
  top: 3.54rem;
}
.pos_4 {
  position: absolute;
  left: 2.19rem;
  top: 3.31rem;
}
.section {
  background-color: #ffffff33;
  width: 0.063rem;
  height: 326.19rem;
}
.pos_2 {
  position: absolute;
  left: 2.16rem;
  top: 0;
}
.font_2 {
  font-size: 2.5rem;
  font-family: PP Neue Machina;
  line-height: 3.63rem;
  color: #ffffff;
}
.text_3 {
  text-transform: uppercase;
  width: 22.63rem;
}
.pos_6 {
  position: absolute;
  left: 50%;
  top: 7.7rem;
  transform: translateX(-50%);
}
.section_2 {
  padding: 0 0.5rem 3rem;
  background-color: #ffffff73;
  border-radius: 0.69rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.65rem);
  width: 16.77rem;
  border-left: solid 0.044rem #ffffffed;
  border-right: solid 0.044rem #ffffffed;
  border-top: solid 0.044rem #ffffffed;
  border-bottom: solid 0.044rem #ffffffed;
}
.pos_10 {
  position: absolute;
  right: 2.29rem;
  top: 31.19rem;
}
.group_2 {
  padding: 1rem 0;
}
.text_5 {
  color: #ffffff;
  font-size: 0.69rem;
  font-family: PP Neue Machina;
  line-height: 0.51rem;
}
.font_5 {
  font-size: 0.6rem;
  font-family: Poppins;
  line-height: 0.58rem;
  color: #000000;
}
.text_6 {
  margin-right: 0.38rem;
  color: #ffffff;
  line-height: 0.47rem;
}
.section_3 {
  margin-right: 0.38rem;
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.39rem;
  box-shadow: 0rem 0.17rem 2.16rem #0000002e;
  backdrop-filter: blur(0.47rem);
}
.image_6 {
  width: 1.56rem;
  height: 1.56rem;
}
.font_6 {
  font-size: 0.69rem;
  font-family: Poppins;
  line-height: 0.58rem;
  color: #000000;
}
.text_7 {
  line-height: 0.71rem;
}
.text_8 {
  line-height: 0.6rem;
}
.section_4 {
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.39rem;
  box-shadow: 0rem 0.17rem 2.16rem #0000002e;
  backdrop-filter: blur(0.47rem);
  width: 15.35rem;
}
.pos_11 {
  position: absolute;
  right: 3.11rem;
  top: 37.35rem;
}
.text_11 {
  line-height: 0.52rem;
}
.text_12 {
  line-height: 0.6rem;
}
.text-wrapper_2 {
  padding: 0.63rem 0 0.38rem;
  border-radius: 2.45rem;
  width: 4.81rem;
  border-left: solid 0.044rem #ffffff4f;
  border-right: solid 0.044rem #ffffff4f;
  border-top: solid 0.044rem #ffffff4f;
  border-bottom: solid 0.044rem #ffffff4f;
}
.pos_14 {
  position: absolute;
  left: 1.66rem;
  top: 50.72rem;
}
.text_18 {
  color: #ffffff;
  font-size: 0.55rem;
  font-family: Poppins;
  line-height: 0.56rem;
}
.section_5 {
  padding: 1rem 0.5rem 5.38rem;
  background-color: #ffffff73;
  border-radius: 0.74rem;
  border-image-slice: 1;
  backdrop-filter: blur(2.06rem);
  width: 16.5rem;
  border-left: solid 0.044rem #ffffffed;
  border-right: solid 0.044rem #ffffffed;
  border-top: solid 0.044rem #ffffffed;
  border-bottom: solid 0.044rem #ffffffed;
}
.pos_12 {
  position: absolute;
  left: 1.06rem;
  top: 43.38rem;
}
.font_7 {
  font-size: 0.65rem;
  font-family: Poppins;
  color: #ffffff;
}
.text_16 {
  font-size: 0.92rem;
  font-weight: 700;
  line-height: 0.85rem;
}
.image_8 {
  margin-left: 1.75rem;
  width: 1rem;
  height: 1rem;
}
.text_17 {
  margin-left: -2.75rem;
  line-height: 0.49rem;
}
.section_6 {
  padding: 0.5rem 0 0.88rem;
  filter: drop-shadow(0rem 0.18rem 1.16rem #0000002e);
  background-color: #ffffff;
  border-radius: 0.51rem;
  backdrop-filter: blur(0.51rem);
  width: 11.18rem;
}
.pos_13 {
  position: absolute;
  left: 7.25rem;
  top: 44.02rem;
}
.image-wrapper {
  background-image: url('https://ide.code.fun/api/image?token=687f8e136121d2001137d18a&name=2af76a54209f1fd1cc286f5723b4d71c.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 11.19rem;
  height: 6.81rem;
}
.image_7 {
  width: 11.19rem;
  height: 6.88rem;
}
.divider {
  background-color: #ffffff33;
  height: 0.063rem;
}
.pos_15 {
  position: absolute;
  left: 0;
  right: 0;
  top: 55.66rem;
}
.pos_25 {
  position: absolute;
  left: 0;
  right: 0;
  top: 98.78rem;
}
.image_13 {
  border-radius: 2.31rem;
  width: 4.44rem;
  height: 2.88rem;
}
.pos_22 {
  position: absolute;
  left: 2.19rem;
  top: 74rem;
}
.section_7 {
  background-color: #f7f7f71f;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.13rem);
  overflow: hidden;
  width: 19.44rem;
  border-left: solid 0.063rem #ffffff82;
  border-right: solid 0.063rem #ffffff82;
  border-top: solid 0.063rem #ffffff82;
  border-bottom: solid 0.063rem #ffffff82;
}
.pos_23 {
  position: absolute;
  left: 2.19rem;
  top: 78.75rem;
}
.image_14 {
  width: 6.31rem;
  height: 5rem;
}
.font_10 {
  font-size: 1.25rem;
  font-family: PP Neue Machina;
  line-height: 2.25rem;
  color: #ffffff;
}
.text_24 {
  margin-top: 1.5rem;
  width: 12.94rem;
}
.font_11 {
  font-size: 0.77rem;
  font-family: Poppins;
  line-height: 1.38rem;
  color: #ffffff;
}
.text_25 {
  font-size: 0.75rem;
  word-break: break-all;
  width: 13.63rem;
}
.text-wrapper_3 {
  padding: 0.88rem 0;
  border-radius: 3.31rem;
  width: 7.44rem;
  border-left: solid 0.063rem #ffffff66;
  border-right: solid 0.063rem #ffffff66;
  border-top: solid 0.063rem #ffffff66;
  border-bottom: solid 0.063rem #ffffff66;
}
.view {
  margin-left: 1.5rem;
}
.font_12 {
  font-size: 1rem;
  font-family: Poppins;
  line-height: 0.75rem;
  color: #ffffff;
}
.text_26 {
  line-height: 0.71rem;
}
.image_15 {
  opacity: 0.6;
  filter: blur(4.66rem);
  width: 2.69rem;
  height: 20.06rem;
}
.section_8 {
  padding: 1.75rem 0 1rem 1.19rem;
  background-color: #f7f7f71f;
  border-radius: 1rem 0 0 1rem;
  border-image-slice: 1;
  overflow: hidden;
  width: 17.41rem;
  border-left: solid 0.063rem #ffffff82;
  border-right: solid 0.063rem #ffffff82;
  border-top: solid 0.063rem #ffffff82;
  border-bottom: solid 0.063rem #ffffff82;
}
.pos_24 {
  position: absolute;
  right: -13.29rem;
  top: 78.75rem;
}
.text_22 {
  width: 12.19rem;
}
.text_23 {
  font-size: 0.75rem;
}
.image_12 {
  filter: blur(6.25rem);
  width: 322.3256vw;
  height: 326.0465vw;
}
.pos_21 {
  position: absolute;
  left: -31.71rem;
  right: -28.04rem;
  top: 72.25rem;
}
.text_28 {
  text-transform: uppercase;
  width: 19.25rem;
}
.pos_27 {
  position: absolute;
  left: 2.22rem;
  top: 105.77rem;
}
.text_27 {
  line-height: 0.69rem;
}
.pos_26 {
  position: absolute;
  left: 2.25rem;
  top: 103.25rem;
}
.text_29 {
  width: 21.63rem;
}
.pos_28 {
  position: absolute;
  left: 2.2rem;
  top: 122.23rem;
}
.pos_29 {
  position: absolute;
  left: 2.19rem;
  top: 133.88rem;
}
.pos_30 {
  position: absolute;
  left: 0;
  right: 0;
  top: 141.16rem;
}
.text_30 {
  text-transform: uppercase;
  width: 13.88rem;
}
.pos_31 {
  position: absolute;
  left: 2.19rem;
  top: 141.05rem;
}
.section_11 {
  padding: 1.38rem 1.13rem 1.5rem;
  background-color: #ffffff73;
  border-radius: 0.88rem;
  border-image-slice: 1;
  backdrop-filter: blur(0.83rem);
  width: 22.06rem;
  border-left: solid 0.056rem #ffffffed;
  border-right: solid 0.056rem #ffffffed;
  border-top: solid 0.056rem #ffffffed;
  border-bottom: solid 0.056rem #ffffffed;
}
.pos_38 {
  position: absolute;
  left: 2.19rem;
  top: 169.88rem;
}
.text_36 {
  color: #ffffff;
  font-size: 0.88rem;
  font-family: PP Neue Machina;
  line-height: 0.65rem;
}
.section_12 {
  padding: 1.88rem 1.88rem 2.13rem 2.88rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.22rem 2.76rem #0000002e;
  backdrop-filter: blur(0.61rem);
}
.group_5 {
  padding: 0 0.5rem;
}
.image_21 {
  width: 2rem;
  height: 2rem;
}
.font_13 {
  font-size: 0.77rem;
  font-family: Poppins;
  line-height: 0.58rem;
  color: #000000;
}
.text_9 {
  opacity: 0.4;
}
.text_13 {
  line-height: 0.6rem;
}
.text_10 {
  line-height: 0.6rem;
}
.text_37 {
  line-height: 0.54rem;
}
.image_22 {
  margin-left: 3.13rem;
  margin-top: 1.13rem;
  border-radius: 1.32rem;
  width: 2.65rem;
  height: 2.65rem;
}
.group_6 {
  margin-left: 2.75rem;
}
.text_38 {
  line-height: 0.6rem;
}
.font_14 {
  font-size: 0.77rem;
  font-family: Poppins;
  line-height: 0.58rem;
  font-weight: 600;
  color: #000000;
}
.text_39 {
  line-height: 0.58rem;
}
.divider_2 {
  background-color: #ffffff66;
  height: 0.055rem;
}
.section_13 {
  padding: 1.38rem 1rem 1.13rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.22rem 2.76rem #0000002e;
  backdrop-filter: blur(0.61rem);
}
.text_40 {
  opacity: 0.3;
}
.text_41 {
  line-height: 0.54rem;
}
.text_42 {
  margin-right: 0.25rem;
  line-height: 0.59rem;
}
.text_43 {
  line-height: 0.54rem;
}
.text_44 {
  margin-right: 0.25rem;
}
.text_45 {
  line-height: 0.74rem;
}
.text_46 {
  line-height: 0.6rem;
}
.text_47 {
  line-height: 0.58rem;
}
.text_48 {
  line-height: 0.6rem;
}
.text_49 {
  color: #000000;
  font-size: 0.88rem;
  line-height: 0.66rem;
}
.pos_44 {
  position: absolute;
  left: 0;
  right: 0;
  top: 224.47rem;
}
.text_53 {
  text-transform: uppercase;
  width: 21.63rem;
}
.pos_45 {
  position: absolute;
  left: 2.19rem;
  top: 227.49rem;
}
.section_14 {
  background-color: #f7f7f70d;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(1.03rem);
  overflow: hidden;
  width: 22.5rem;
  border-left: solid 0.063rem #ffffff82;
  border-right: solid 0.063rem #ffffff82;
  border-top: solid 0.063rem #ffffff82;
  border-bottom: solid 0.063rem #ffffff82;
}
.pos_46 {
  position: absolute;
  left: 50%;
  top: 233.69rem;
  transform: translateX(-50%);
}
.image_25 {
  opacity: 0.2;
  filter: blur(4.66rem);
  width: 22.5rem;
  height: 12.19rem;
}
.font_15 {
  font-size: 1.13rem;
  font-family: PP Neue Machina;
  line-height: 1.69rem;
  color: #ffffff;
}
.text_34 {
  width: 15.94rem;
}
.pos_47 {
  position: absolute;
  left: 1.27rem;
  top: 1.14rem;
}
.text_54 {
  font-size: 0.75rem;
}
.pos_49 {
  position: absolute;
  left: 1.27rem;
  right: 0.98rem;
  top: 4.86rem;
}
.image_26 {
  border-radius: 0.75rem;
  width: 3rem;
  height: 2.31rem;
}
.pos_48 {
  position: absolute;
  right: 1.13rem;
  top: 1.25rem;
}
.pos_50 {
  position: absolute;
  left: 50%;
  top: 246.88rem;
  transform: translateX(-50%);
}
.image_27 {
  opacity: 0.2;
  filter: blur(4.66rem);
  width: 22.5rem;
  height: 6.81rem;
}
.text_55 {
  width: 14.81rem;
}
.pos_51 {
  position: absolute;
  left: 1.29rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_52 {
  position: absolute;
  right: 1.13rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_53 {
  position: absolute;
  left: 50%;
  top: 254.69rem;
  transform: translateX(-50%);
}
.text_56 {
  width: 10.81rem;
}
.pos_54 {
  position: absolute;
  left: 1.27rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_55 {
  position: absolute;
  right: 1.13rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_56 {
  position: absolute;
  left: 50%;
  top: 262.5rem;
  transform: translateX(-50%);
}
.image_28 {
  opacity: 0.2;
  filter: blur(4.66rem);
  width: 22.5rem;
  height: 5.31rem;
}
.text_57 {
  width: 15.25rem;
}
.pos_57 {
  position: absolute;
  left: 1.29rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_58 {
  position: absolute;
  right: 1.13rem;
  top: 50%;
  transform: translateY(-50%);
}
.pos_59 {
  position: absolute;
  left: 0;
  right: 0;
  top: 272.09rem;
}
.image_29 {
  width: 1.88rem;
  height: 1.88rem;
}
.pos_60 {
  position: absolute;
  left: 2.19rem;
  bottom: 52.19rem;
}
.horiz-list {
  position: absolute;
  right: 0;
  top: 146.75rem;
}
.group_3 {
  overflow-x: auto;
  width: 24.69rem;
}
.horiz-list-item {
  position: relative;
  flex-shrink: 0;
}
.section_9 {
  padding: 12.25rem 0 1.19rem;
  background-color: #f7f7f70d;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(1.03rem);
  overflow: hidden;
  width: 19.44rem;
  height: 15.94rem;
  border-left: solid 0.063rem #ffffff82;
  border-right: solid 0.063rem #ffffff82;
  border-top: solid 0.063rem #ffffff82;
  border-bottom: solid 0.063rem #ffffff82;
}
.image_18 {
  margin-left: 1.25rem;
  width: 2.38rem;
  height: 2.38rem;
}
.group_4 {
  width: 18.18rem;
}
.pos_32 {
  position: absolute;
  left: 1.26rem;
  right: -0.12rem;
  top: 0;
}
.image_17 {
  opacity: 0.4;
  filter: blur(4.66rem);
  width: 11.94rem;
  height: 15.94rem;
}
.text_32 {
  line-height: 1.18rem;
}
.pos_34 {
  position: absolute;
  left: 0;
  top: 1.77rem;
}
.text_35 {
  font-size: 0.75rem;
}
.pos_36 {
  position: absolute;
  left: 0;
  top: 3.73rem;
}
.section_10 {
  background-color: #f7f7f70d;
  border-radius: 1rem;
  border-image-slice: 1;
  backdrop-filter: blur(1.03rem);
  overflow: hidden;
  width: 19.44rem;
  height: 15.94rem;
  border-left: solid 0.063rem #ffffff82;
  border-right: solid 0.063rem #ffffff82;
  border-top: solid 0.063rem #ffffff82;
  border-bottom: solid 0.063rem #ffffff82;
}
.image_16 {
  margin-left: -1.5rem;
  margin-top: -0.75rem;
  opacity: 0.4;
  filter: blur(4.66rem);
  width: 91.8605vw;
  height: 71.8605vw;
}
.text_31 {
  line-height: 0.93rem;
}
.pos_33 {
  position: absolute;
  left: 1.13rem;
  top: 1.46rem;
}
.text_33 {
  font-size: 0.75rem;
  width: 13.63rem;
}
.pos_35 {
  position: absolute;
  left: 1.09rem;
  top: 3.48rem;
}
.image_19 {
  overflow: hidden;
  width: 2.38rem;
  height: 2.38rem;
}
.pos_37 {
  position: absolute;
  left: 1.13rem;
  bottom: 1.11rem;
}
.font_16 {
  font-size: 1.25rem;
  font-family: Poppins;
  line-height: 0.94rem;
  font-weight: 600;
  color: #ffffff;
}
.text_58 {
  line-height: 0.99rem;
}
.pos_61 {
  position: absolute;
  left: 2.21rem;
  bottom: 51.93rem;
}
.font_17 {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.75rem;
  color: #ffffff;
}
.font_18 {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.84rem;
  color: #ffffff;
}
.pos_66 {
  position: absolute;
  left: 2.22rem;
  bottom: 35.8rem;
}
.font_19 {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.94rem;
  color: #ffffff;
}
.text_14 {
  opacity: 0.6;
}
.text_62 {
  line-height: 0.8rem;
}
.pos_68 {
  position: absolute;
  left: 2.23rem;
  bottom: 32.93rem;
}
.text_61 {
  line-height: 0.8rem;
}
.pos_65 {
  position: absolute;
  left: 2.25rem;
  bottom: 39.68rem;
}
.pos_64 {
  position: absolute;
  left: 2.23rem;
  bottom: 42.8rem;
}
.text_60 {
  line-height: 0.79rem;
}
.pos_63 {
  position: absolute;
  left: 2.27rem;
  bottom: 45.93rem;
}
.text_59 {
  line-height: 0.79rem;
}
.pos_62 {
  position: absolute;
  left: 2.27rem;
  bottom: 49.05rem;
}
.text_15 {
  line-height: 0.46rem;
}
.text_63 {
  line-height: 0.88rem;
}
.pos_69 {
  position: absolute;
  left: 2.27rem;
  bottom: 29.8rem;
}
.text_64 {
  line-height: 0.88rem;
}
.pos_70 {
  position: absolute;
  left: 2.21rem;
  bottom: 26.68rem;
}
.pos_71 {
  position: absolute;
  left: 2.27rem;
  bottom: 22.8rem;
}
.pos_73 {
  position: absolute;
  left: 2.27rem;
  bottom: 16.8rem;
}
.text_65 {
  line-height: 1.09rem;
}
.pos_72 {
  position: absolute;
  left: 2.27rem;
  bottom: 19.63rem;
}
.image_30 {
  filter: blur(12.5rem);
  width: 119.7674vw;
  height: 179.7674vw;
}
.pos_67 {
  position: absolute;
  right: -13.44rem;
  bottom: -13.63rem;
}
.text_66 {
  line-height: 1.32rem;
}
.pos_74 {
  position: absolute;
  left: 2.25rem;
  bottom: 12.6rem;
}
.group_7 {
  padding: 0.88rem 0.88rem 0.88rem 1.38rem;
  border-radius: 0.75rem;
  width: 22.5rem;
  border-left: solid 0.063rem #ffffff40;
  border-right: solid 0.063rem #ffffff40;
  border-top: solid 0.063rem #ffffff40;
  border-bottom: solid 0.063rem #ffffff40;
}
.pos_75 {
  position: absolute;
  left: 50%;
  top: 319.44rem;
  transform: translateX(-50%);
}
.text_67 {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: Roboto;
  line-height: 0.95rem;
}
.image_31 {
  width: 1.5rem;
  height: 1.5rem;
}
.text_68 {
  color: #ffffff;
  font-size: 5.79rem;
  font-family: PP Neue Machina;
  line-height: 3.46rem;
}
.pos_76 {
  position: absolute;
  left: 0.33rem;
  bottom: 0;
}